<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="student_management_admin.Properties.Settings.Student_ManagementConnectionString"
            connectionString="Data Source=DESKTOP-DBSJM7F\MAYAO;Initial Catalog=Student_Management;Persist Security Info=True;User ID=admin;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>